@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: hsl(228, 39%, 23%);
    color: #242D52;
    color: #F3603C;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 12px;
  }
